name: Node.js CI
on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        working-directory: ./react

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

        - name: Cache dependencies
          id: cache
          uses: actions/cache@v2
          with:
            path: ./node_modules
            key: modules-${{ hashFiles('package-lock.json') }}

        - name: Install dependencies
          if: steps.cache.outputs.cache-hit != 'true'
          run: npm ci --ignore-scripts